@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #facc15;
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.input {
  @apply w-full p-3 my-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all dark:bg-slate-800 dark:border-slate-700 dark:text-white;
}

.btn {
  @apply w-full p-3 bg-blue-600 text-white rounded-lg font-semibold hover:bg-blue-700 transition-all mt-2;
}
